Source: snapfirewall
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: debhelper,
    cmake,
    doxygen,
    graphviz,
    libxml2-utils,
    qt5-default,
    zip,
    libadvgetopt-dev (>= 1.0.16.368~xenial),
    libas2js-dev (>= 0.1.14.122~xenial),
    liblog4cplus-dev (>= 1.2.0.397~xenial),
    libqtcassandra-dev (>= 0.6.0.26~xenial),
    libqtserialization-dev (>= 0.1.16.618~xenial),
    libsnapwebsites-dev (>= 1.0.0.77~xenial),
    libtld-dev (>= 1.5.1.314~xenial),
    snapbase-dev (>= 1.0.0.68~xenial),
    snapcmakemodules (>= 1.0.23.231~trusty),
    snapmanagercgi-dev (>= 1.0.0.71~xenial),
    snapinit
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/snapwebsites

Package: snapfirewall
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, snapdbproxy, iplock
Suggests: snapserver, snapbackend, snapfirewall-doc
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 This package handes the firewall to the snap server.

Package: snapfirewall-doc
Section: admin
Architecture: all
Depends: ${misc:Depends}
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 Documentation package.

# vim: ts=4 sw=4 et
