Source: log4cplus
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: debhelper, cmake, doxygen, graphviz
Standards-Version: 3.9.4
Section: libs
Homepage: https://sourceforge.net/p/log4cplus/wiki/Home/
Vcs-Git: https://github.com/log4cplus/log4cplus.git
Vcs-Browser: https://github.com/log4cplus/log4cplus

Package: liblog4cplus
Section: libdevel
Architecture: any
Depends: ${misc:Depends}
Recommends: liblog4cplus (= ${binary:Version})
Description: log4cplus is a simple to use C++ logging API.
 log4cplus is a simple to use C++ logging API providing thread-safe,
 flexible, and arbitrarily granular control over log management and
 configuration. It is modelled after the Java log4j API.
 .
 This is package includes the libraries to run log4cplus on your system.

Package: liblog4cplus-dev
Section: libdevel
Architecture: any
Depends: liblog4cplus (= ${binary:Version}), ${misc:Depends}
Recommends: liblog4cplus-doc (= ${binary:Version})
Description: log4cplus is a simple to use C++ logging API.
 log4cplus is a simple to use C++ logging API providing thread-safe,
 flexible, and arbitrarily granular control over log management and
 configuration. It is modelled after the Java log4j API.
 .
 This is the development package that programmers want to install.

Package: liblog4cplus-doc
Section: doc
Architecture: any
Depends: ${misc:Depends}
Recommends: liblog4cplus-dev (= ${binary:Version})
Description: Documentation for log4cplus, a simple to use C++ logging API.
 log4cplus is a simple to use C++ logging API providing thread-safe,
 flexible, and arbitrarily granular control over log management and
 configuration. It is modelled after the Java log4j API.
 .
 This is the doxygen C++ API documentation.

Package: log4cplus-simpleserver
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast Websites: powerful CMS for Apache written in C++.
 log4cplus is a simple to use C++ logging API providing thread-safe,
 flexible, and arbitrarily granular control over log management and
 configuration. It is modelled after the Java log4j API.
 .
 This is the logging server to log over a network connection.

# vim: ts=4 sw=4 et
