Source: snapinit
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: debhelper, dh-systemd,
    cmake,
    doxygen,
    graphviz,
    libprocps4-dev,
    libxml2-utils,
    qt5-default,
    zip,
    libadvgetopt-dev,
    liblog4cplus-dev,
    libqtcassandra-dev,
    libqtserialization-dev,
    libsnapwebsites-dev (>= 1.0.0.77~xenial), 
    libtld-dev,
    libzipios-dev,
    snapbase-dev (>= 1.0.0.68~xenial),
    snapcmakemodules (>= 1.0.23.231~trusty)
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/snapwebsites

Package: snapinit
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, snapbase
Recommends: snapcommunicator
Suggests: snapinit-doc
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 This packages installs the main controller.

Package: snapinit-doc
Section: admin
Architecture: all
Depends: ${misc:Depends}
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 Documentation package.

# vim: ts=4 sw=4 et
