# Documentation available at:
# https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Snap! Websites snapinit daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/snapinit --detach start
ExecStop=/usr/bin/snapinit stop
Restart=on-failure
RestartSec=10
PIDFile=/run/lock/snapwebsites/snapinit-lock.pid
KillMode=process

[Install]
WantedBy=multi-user.target

# vim: syntax=dosini
