[Unit]
Description=Snap! Websites snapinit daemon
After=network.target

[Service]
Type=forking
EnvironmentFile=/etc/default/snapinit
ExecStart=/usr/bin/snapinit --detach start
ExecStop=/usr/bin/snapinit --detach stop
Restart=on-failure
PIDFile=/run/lock/snapwebsites/snapinit-lock.pid
