#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_fixperms:
	dh_fixperms
	chmod u+s debian/iplock/usr/sbin/iplock

override_dh_install:
	@echo "skip dh_install"

