[submodule "cmake"]
	path = cmake
	url = git@github.com:m2osw/snapcmakemodules.git
[submodule "contrib/advgetopt"]
	path = contrib/advgetopt
	url = git@github.com:m2osw/advgetopt.git
[submodule "contrib/as2js"]
	path = contrib/as2js
	url = git@github.com:m2osw/as2js.git
[submodule "contrib/csspp"]
	path = contrib/csspp
	url = git@github.com:m2osw/csspp.git
[submodule "contrib/iplock"]
	path = contrib/iplock
	url = git@github.com:m2osw/iplock.git
[submodule "contrib/libaddr"]
	path = contrib/libaddr
	url = git@github.com:m2osw/libaddr.git
[submodule "contrib/libexcept"]
	path = contrib/libexcept
	url = git@github.com:m2osw/libexcept.git
[submodule "contrib/libtld"]
	path = contrib/libtld
	url = git@github.com:m2osw/libtld.git
[submodule "contrib/zipios"]
	path = contrib/zipios
	url = git@github.com:Zipios/Zipios.git
[submodule "snapwebsites"]
	path = snapwebsites
	url = git@github.com:m2osw/snapwebsites.git
[submodule "contrib/libutf8"]
	path = contrib/libutf8
	url = git@github.com:m2osw/libutf8.git
[submodule "contrib/snapcatch2"]
	path = contrib/snapcatch2
	url = git@github.com:m2osw/snapcatch2.git
[submodule "contrib/snapdev"]
	path = contrib/snapdev
	url = git@github.com:m2osw/snapdev.git
[submodule "contrib/snaplogger"]
	path = contrib/snaplogger
	url = git@github.com:m2osw/snaplogger.git
[submodule "contrib/cppthread"]
	path = contrib/cppthread
	url = git@github.com:m2osw/cppthread.git
[submodule "contrib/eventdispatcher"]
	path = contrib/eventdispatcher
	url = git@github.com:m2osw/eventdispatcher.git
[submodule "contrib/snaprfs"]
	path = contrib/snaprfs
	url = git@github.com:m2osw/snaprfs.git
[submodule "contrib/libmurmur3"]
	path = contrib/libmurmur3
	url = git@github.com:m2osw/libmurmur3.git
[submodule "contrib/fastjournal"]
	path = contrib/fastjournal
	url = git@github.com:m2osw/fastjournal.git
[submodule "contrib/ftmesh"]
	path = contrib/ftmesh
	url = git@github.com:m2osw/ftmesh.git
[submodule "contrib/ipmgr"]
	path = contrib/ipmgr
	url = git@github.com:m2osw/ipmgr.git
[submodule "contrib/commonmarkcpp"]
	path = contrib/commonmarkcpp
	url = git@github.com:m2osw/commonmarkcpp.git
[submodule "contrib/libmimemail"]
	path = contrib/libmimemail
	url = git@github.com:m2osw/libmimemail.git
[submodule "contrib/edhttp"]
	path = contrib/edhttp
	url = git@github.com:m2osw/edhttp.git
[submodule "contrib/sitter"]
	path = contrib/sitter
	url = git@github.com:m2osw/sitter.git
[submodule "contrib/serverplugins"]
	path = contrib/serverplugins
	url = git@github.com:m2osw/serverplugins.git
[submodule "contrib/snapcommunicator"]
	path = contrib/snapcommunicator
	url = git@github.com:m2osw/snapcommunicator.git
[submodule "contrib/fluid-settings"]
	path = contrib/fluid-settings
	url = git@github.com:m2osw/fluid-settings.git
[submodule "contrib/snapcommunicatord"]
	path = contrib/communicatord
	url = git@github.com:m2osw/snapcommunicatord.git
[submodule "contrib/murmur3"]
	path = contrib/murmur3
	url = git@github.com:m2osw/murmur3.git
[submodule "contrib/prinbee"]
	path = contrib/prinbee
	url = git@github.com:m2osw/prinbee.git
