Source: libqtserialization
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8.9), snapcmakemodules (>= 1.0.0-1), libthrift-dev (>= 0.9.0)
Standards-Version: 3.9.3
Section: libs
Homepage: http://snapwebsites.org/project/libqtserialization
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/libQtSerialization

Package: libqtserialization-dev
Section: libdevel
Architecture: any
Depends: libqtserialization (= ${binary:Version})
Description: Serialization Made Easy with Qt
 The libQtSerialization library is a Qt extension that makes it really easy to
 serialize your data in a forward and backward compatible way1.
 The library is composed of two sides: the QWriter which helps you serialize
 data, and the QReader that helps you unserialize data.
 The writer is quiet straight forward. Pretty much, all you have to do is call
 a writeTag() function and the data gets serialized.
 The reader is a little more complex so the serialization can support special
 cases, especially sub-classes (so you can save a tree of classes) and array of
 classes (your tree may be composed of multiple instances of a given object.)

Package: libqtserialization-doc
Section: doc
Architecture: any
#Depends: libqtserialization (= ${binary:Version})
Description: Serialization Made Easy with Qt
 The libQtSerialization library is a Qt extension that makes it really easy to
 serialize your data in a forward and backward compatible way1.
 The library is composed of two sides: the QWriter which helps you serialize
 data, and the QReader that helps you unserialize data.
 The writer is quiet straight forward. Pretty much, all you have to do is call
 a writeTag() function and the data gets serialized.
 The reader is a little more complex so the serialization can support special
 cases, especially sub-classes (so you can save a tree of classes) and array of
 classes (your tree may be composed of multiple instances of a given object.)

Package: libqtserialization
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Serialization Made Easy with Qt
 The libQtSerialization library is a Qt extension that makes it really easy to
 serialize your data in a forward and backward compatible way1.
 The library is composed of two sides: the QWriter which helps you serialize
 data, and the QReader that helps you unserialize data.
 The writer is quiet straight forward. Pretty much, all you have to do is call
 a writeTag() function and the data gets serialized.
 The reader is a little more complex so the serialization can support special
 cases, especially sub-classes (so you can save a tree of classes) and array of
 classes (your tree may be composed of multiple instances of a given object.)
