Source: snaplock
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: catch (>= 1.0),
    cmake,
    debhelper,
    doxygen,
    graphviz,
    libadvgetopt-dev (>= 1.1.0.70~xenial),
    liblog4cplus-dev (>= 1.2.0.467~xenial),
    libqtcassandra-dev (>= 0.6.0.107~xenial),
    libqtserialization-dev (>= 0.1.16.697~xenial),
    libsnapwebsites-dev (>= 1.0.0.78~xenial),
    libtld-dev (>= 1.5.1.384~xenial),
    libxml2-utils,
    qt5-default,
    snapcmakemodules (>= 1.0.25.194~xenial),
    snapinit (>= 1.0.0.70~xenial),
    zip
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/snapwebsites

Package: snaplock
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, snapcommunicator
Suggests: snaplock-doc
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 This is the snaplock-specific package.

Package: snaplock-doc
Section: admin
Architecture: all
Depends: ${misc:Depends}
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 Documentation package.

# vim: ts=4 sw=4 et
