Source: libqtcassandra
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8.9), snapcmakemodules (>= 1.0.0-1)
Standards-Version: 3.9.3
Section: libs
Homepage: http://snapwebsites.org/project/libqtcassandra
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/libQtCassandra 

Package: libqtcassandra-dev
Section: libdevel
Architecture: any
Depends: libqtcassandra (= ${binary:Version})
Description: C++ bindings to the Cassandra database server.
 The libQtCassandra library is an advanced C++ library used to access Cassandra
 servers in C++.
 Contrary to the basic Cassadra server interface, this C++ library brings you
 separate objects that handle each level of the server data, i.e. the cluster,
 contexts, table, rows, cells.
 Details for developers can be found on the reference pages (a 100% complete
 Doxygen documentation of the library including source code and working
 examples.)

Package: libqtcassandra
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ bindings to the Cassandra database server.
 The libQtCassandra library is an advanced C++ library used to access Cassandra
 servers in C++.
 Contrary to the basic Cassadra server interface, this C++ library brings you
 separate objects that handle each level of the server data, i.e. the cluster,
 contexts, table, rows, cells.
 Details for developers can be found on the reference pages (a 100% complete
 Doxygen documentation of the library including source code and working
 examples.)
