Source: libexcept
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    debhelper,
    doxygen,
    graphviz,
    qtbase5-dev,
    snapcmakemodules (>= 1.0.27.11~xenial)
Standards-Version: 3.9.4
Section: libs
Homepage: http://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/snapcpp/tree/master/contrib

Package: libexcept-dev
Section: libdevel
Architecture: any
Depends: libexcept (= ${binary:Version}), ${misc:Depends}
#Suggests: libexcept-doc
Description: C++ bindings to the Cassandra database server.
 The libexcept library is an advanced C++ library used to access Cassandra
 servers in C++.
 Contrary to the basic Cassadra server interface, this C++ library brings you
 separate objects that handle each level of the server data, i.e. the cluster,
 contexts, table, rows, cells.
 Details for developers can be found on the reference pages (a 100% complete
 Doxygen documentation of the library including source code and working
 examples.)

Package: libexcept
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libexcept-doc
Description: C++ bindings to the Cassandra database server.
 The libexcept library is an advanced C++ library used to access Cassandra
 servers in C++.
 Contrary to the basic Cassadra server interface, this C++ library brings you
 separate objects that handle each level of the server data, i.e. the cluster,
 contexts, tables, rows, cells.
 Details for developers can be found on the reference pages (a 100% complete
 Doxygen documentation of the library including source code and working
 examples.)

#Package: libexcept-doc
#Section: libdevel
#Architecture: all
#Depends: ${misc:Depends}
#Description: C++ bindings to the Cassandra database server.
# The libexcept library is an advanced C++ library used to access Cassandra
# servers in C++.
# Contrary to the basic Cassadra server interface, this C++ library brings you
# separate objects that handle each level of the server data, i.e. the cluster,
# contexts, table, rows, cells.
# Details for developers can be found on the reference pages (a 100% complete
# Doxygen documentation of the library including source code and working
# examples.)

# vim: ts=4 sw=4 et
