Source: postsrsd
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    coreutils,
    debhelper
Standards-Version: 3.9.4
Section: net
Homepage: https://github.com/roehling/postsrsd
Vcs-Git: https://github.com/roehling/postsrsd.git

Package: postsrsd-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: postsrsd (= ${binary:Version})
Description: Postfix Sender Rewriting Scheme daemon documentation
 PostSRSd provides the Sender Rewriting Scheme (SRS) via TCP-based lookup
 tables for Postfix. SRS is needed if your mail server acts as forwarder.
 .
 This is the documenation package to the postsrsd utility.

Package: postsrsd
Section: net
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils
Recommends: postfix
Suggests: postsrsd-doc (>=2.4)
Description: Postfix Sender Rewriting Scheme daemon
 PostSRSd provides the Sender Rewriting Scheme (SRS) via TCP-based lookup
 tables for Postfix. SRS is needed if your mail server acts as forwarder.
 .
 This package contains the binary utility

# vim: ts=4 sw=4 et
