Source: libsnapwebsites
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: debhelper,
    catch (>= 1.0),
    cmake,
    doxygen, 
    graphviz, 
    libboost-dev,
    libicu-dev,
    libmagic-dev, 
    libmagick++-dev (>= 6.7.7.10-6ubuntu3),
    libprocps4-dev,
    libqt5xmlpatterns5-dev,
    libqtwebkit-dev,
    libssl-dev (>= 1.0.1),
    libxml2-utils,
    python-pip (>= 1.4.1-2),
    qt5-default,
    qtscript5-dev,
    uuid-dev,
    zip,
    csspp (>= 1.0.10.49~xenial),
    libadvgetopt-dev (>= 1.0.15.231~trusty),
    libas2js-dev (>= 0.1.14.122~xenial),
    libcontrolledvars-dev (>= 1.4.15.231~trusty),
    libcsspp-dev (>= 1.0.10.49~xenial),
    liblog4cplus-dev (>= 1.2.0.397~xenial),
    libqtcassandra-dev (>= 0.6.0.37~xenial),
    libqtserialization-dev (>= 0.1.16.627~xenial),
    libtld-dev (>= 1.5.1.314~xenial),
    libzipios-dev (>= 2.1.2.124~xenial),
    snapcmakemodules (>= 1.0.23.231~trusty)
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/snapwebsites

Package: libsnapwebsites-dev
Section: libdevel
Architecture: any
Depends: libsnapwebsites (= ${binary:Version}), ${misc:Depends}, libboost-dev,
    libqtcassandra-dev, libssl-dev
Suggests: libsnapwebsites-doc (= ${binary:Version})
Description: Fast Websites: powerful CMS for Apache written in C++ (development package).
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 This is the development package complete with C++ headers.

Package: libsnapwebsites-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: libsnapwebsites (= ${binary:Version})
Description: Fast Websites: powerful CMS for Apache written in C++ (documentation package).
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 This is the documenation package, complete developer reference.

Package: libsnapwebsites
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 This is the runtime package for the C++ library.

# vim: ts=4 sw=4 et
