Source: snapwebsites
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: debhelper (>= 8.0.0), cmake
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
#Vcs-Browser: http://git.debian.org/?p=collab-maint/snapwebsites.git;a=summary

Package: snapwebsites-doc
Section: doc
Architecture: any
Depends: snapwebsites (= ${binary:Version})
Description: Fast Websites: strong CMS for Apache written in C++ (documentation package).
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.

Package: snapwebsites-dev
Section: libdevel
Architecture: any
Depends: snapwebsites (= ${binary:Version})
Description: Fast Websites: strong CMS for Apache written in C++ (development package).
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.

Package: snapwebsites
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Fast Websites: strong CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
