Source: snapcmakemodules
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    debhelper,
    reprepro
Standards-Version: 3.9.4
Section: libs
Homepage: http://snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/snapCMakeModules/

Package: snapcmakemodules
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Common Snap C++ CMake modules
 This package contains common CMake modules to support Snap C++ projects.
