Source: log4cplus12
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    debhelper,
    doxygen,
    graphviz,
    qtbase5-dev,
    snapcmakemodules (>= 1.0.34.89~xenial)
Standards-Version: 3.9.4
Section: libs
Homepage: https://sourceforge.net/p/log4cplus/wiki/Home/
Vcs-Git: https://github.com/log4cplus/log4cplus.git
Vcs-Browser: https://github.com/log4cplus/log4cplus

Package: liblog4cplus12
Section: libs
Architecture: any
Depends: ${misc:Depends}
Replaces: liblog4cplus (>= 1.2.1)
Description: log4cplus v1.2 is a simple to use C++ logging API.
 log4cplus is a simple to use C++ logging API providing thread-safe,
 flexible, and arbitrarily granular control over log management and
 configuration. It is modelled after the Java log4j API.
 .
 This is package includes the libraries to run log4cplus on your system.

Package: liblog4cplus12-dev
Section: libdevel
Architecture: any
Depends: liblog4cplus12 (= ${binary:Version}), ${misc:Depends}
Replaces: liblog4cplus-dev (>= 1.2.1)
Description: log4cplus v1.2 is a simple to use C++ logging API.
 log4cplus is a simple to use C++ logging API providing thread-safe,
 flexible, and arbitrarily granular control over log management and
 configuration. It is modelled after the Java log4j API.
 .
 This is the development package that programmers want to install.

Package: liblog4cplus12-doc
Section: doc
Architecture: any
Suggests: liblog4cplus12-dev (= ${binary:Version})
Description: log4cplus v1.2 is a simple to use C++ logging API.
 log4cplus is a simple to use C++ logging API providing thread-safe,
 flexible, and arbitrarily granular control over log management and
 configuration. It is modelled after the Java log4j API.
 .
 This is the documentation package.

# vim: ts=4 sw=4 et
