Source: snapserver
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: catch (>= 1.0),
    closure-linter (>= 2.3.13),
    cmake,
    csspp (>= 1.0.10.119~xenial),
    debhelper,
    doxygen,
    graphviz,
    libadvgetopt-dev (>= 1.1.0.70~xenial),
    libas2js-dev (>= 0.1.14.192~xenial),
    libboost-dev,
    libcontrolledvars-dev (>= 1.4.16.438~xenial),
    libcsspp-dev (>= 1.0.10.119~xenial),
    libicu-dev,
    liblog4cplus-dev (>= 1.2.0.467~xenial),
    libmagic-dev,
    libmagick++-dev (>= 6.7.7.10-6ubuntu3),
    libprocps4-dev,
    libqt5xmlpatterns5-dev,
    libqtcassandra-dev (>= 0.6.0.107~xenial),
    libqtserialization-dev (>= 0.1.16.697~xenial),
    libqtwebkit-dev,
    libsnapwebsites-dev (>= 1.0.0.78~xenial),
    libssl-dev (>= 1.0.1),
    libtld-dev (>= 1.5.1.384~xenial),
    libxml2-utils,
    libzipios-dev (>= 2.1.2.194~xenial),
    python-pip (>= 1.4.1-2),
    qt5-default,
    qtscript5-dev,
    snapbase-dev (>= 1.0.0.69~xenial),
    snapcmakemodules (>= 1.0.25.194~xenial),
    snapinit (>= 1.0.0.70~xenial),
    snapmanagercgi (>= 1.0.0.72~xenial),
    snapserver-core-plugins-dev (>= 1.0.0.70~xenial),
    uuid-dev,
    zip
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/snapwebsites

Package: snapserver
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    snapserver-core-plugins (>= 1.0.0), snaplock, snapdbproxy
Recommends: snapdb
Suggests: cassandra (>= 3.5.0), snapcgi, snapbounce, snapserver-doc
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to
 use to create their own extensions.
 .
 This package installs the server daemon that communicates with the
 Cassandra server.
 iplock require for snapfirewall.

Package: snapserver-doc
Section: admin
Architecture: all
Depends: ${misc:Depends}
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 Documentation package.

# vim: ts=4 sw=4 et
