Source: cassview
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    debhelper,
    doxygen,
    graphviz,
    libadvgetopt-dev (>= 1.1.10.167~xenial),
    libcassvalue-dev (>= 1.0.1.171~xenial),
    libcasswrapper-dev (>= 1.0.5.152~xenial),
    libexcept-dev (>= 1.0.2.152~xenial),
    liblog4cplus12-dev (>= 1.2.3.279~xenial),
    libqtserialization-dev (>= 0.1.20.96~xenial),
    libqtwebkit-dev,
    libsnapwebsites-dev (>= 1.2.7.3~xenial),
    libtld-dev (>= 1.5.7.15~xenial),
    libxml2-utils,
    qtbase5-dev,
    snapcmakemodules (>= 1.0.34.117~xenial),
    zip
Standards-Version: 3.9.4
Section: admin
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Bzr: lp:snapcpp
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/cassview

Package: cassview
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: cassandra (>= 2.0.3), snapserver (>= 0.1.72.112~trusty)
Description: GUI tool to maintain your cassandra database. Optimized for snapwebsites.
 This graphical tool allows the user to view and edit a cassandra database. It is optimized
 for a snapwebsites database, and understands the business rules for transforming the
 internals to readable views.
 .
 This package contains the GUI binary.

# vim: ts=4 sw=4 et
