Source: as2js
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    debhelper,
    doxygen,
    graphviz,
    libadvgetopt-dev (>= 1.1.10.139~xenial),
    libcppunit-dev (>= 1.13),
    libicu-dev,
    libqt5webkit5-dev,
    libqxcppunit-dev (>= 0.9.2),
    qtbase5-dev,
    snapcmakemodules (>= 1.0.34.89~xenial)
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/snapcpp

Package: libas2js-dev
Section: libdevel
Architecture: any
Depends: libas2js (= ${binary:Version}), ${misc:Depends}
Recommends: as2js-doc (= ${binary:Version})
Description: C++ library to support AlexScript to JavaScript compilation.
 This package includes all the necessary files for you to develope code
 that link against the libas2js library.
 .
 This is the development package complete with C++ headers.

Package: as2js-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: as2js (= ${binary:Version})
Description: C++ AlexScript to JavaScript documentation.
 The Snap! C++ environment includes an advanced JavaScript compiler. Here
 you will find all the necessary documentation to write AlexScript and
 compile it so it runs in your browsers.
 .
 This is the documenation package, complete developer reference to use the
 libas2js library and the as2js compiler.

Package: libas2js
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ AlexScript to JavaScript compiler
 The Snap! C++ environment includes this advanced JavaScript compiler which
 allows you to transform AS-like scripts, using "interface", "class",
 "public", "private", "protected", and many other additional keywords, and
 transform that in prototype definitions as supported by browsers.
 .
 This is the runtime package for the C++ library.

Package: as2js
Section: web
Architecture: any
Depends: libas2js (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: as2js-doc (>=2.4)
Description: Compile AlexScript to JavaScript
 This tool is the as2js compiler. It takes Advanced JavaScript that looks
 like classes, interfaces, etc. and compiles that in objects that can be
 reused by your browser with namespaces, functions, and prototypes.
 .
 This package contains the compiler.

# vim: ts=4 sw=4 et
