Source: snapwatchdog
Priority: extra
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: debhelper, cmake, zip, libqt4-dev (>= 4.8.3), libprocps3-dev, libboost-dev,
    snapcmakemodules (>= 1.0.23.36~trusty), libcontrolledvars-dev (>= 1.4.15.44~trusty),
    libadvgetopt-dev (>= 1.0.15.43~trusty), libqtserialization-dev (>= 0.1.16.43~trusty),
    libqtcassandra-dev (>= 0.5.20.43~trusty), libsnapwebsites-dev (>= 0.1.70.32~trusty)
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/snapwebsites

Package: libsnapwatchdog-dev
Section: libdevel
Architecture: any
Depends: libsnapwatchdog (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Track status and health of any number of servers.
 Snap! Watchdog is a tool that works on any number of servers to
 gather various information that let you know how your server is
 doing.
 .
 This is the developer package.

Package: libsnapwatchdog
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Track status and health of any number of servers.
 Snap! Watchdog is a tool that works on any number of servers to
 gather various information that let you know how your server is
 doing.
 .
 This is the base library binary package.

Package: snapwatchdog
Section: utils
Architecture: any
Depends: adduser, libsnapwatchdog (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Recommends: cassandra (>= 2.0.3)
Suggests: snapwebsites (= ${binary:Version})
Description: Track status and health of any number of servers.
 Snap! Watchdog is a tool that works on any number of servers to
 gather various information that let you know how your server is
 doing.
 .
 This package installs the server daemon that communicates with
 other watchdogs and a Cassandra server.

# vim: ts=4 sw=4 et
