Source: cassview
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: debhelper, cmake,
    libqt4-dev (>= 4.8.3), libqtwebkit-dev, doxygen, graphviz, zip,
    snapcmakemodules (>= 1.0.23.147~trusty), libqtcassandra-dev (>= 0.5.7), libcontrolledvars-dev (>= 1.4.15.147~trusty),
    libsnapwebsites-dev (>= 0.1.70.115~trusty)
Standards-Version: 3.9.4
Section: admin
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Bzr: lp:snapcpp
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/cassview

Package: cassview
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: cassandra (>= 2.0.3)
Suggests: snapserver (>= 0.1.70.115~trusty)
Description: GUI tool to maintain your cassandra database. Optimized for snapwebsites.
 This graphical tool allows the user to view and edit a cassandra database. It is optimized
 for a snapwebsites database, and understands the business rules for transforming the
 internals to readable views.
 .
 This package contains the GUI binary.

# vim: ts=4 sw=4 et
