#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_fixperms:
	dh_fixperms
	chmod u+s debian/iplock/usr/sbin/iplock

# I instead decided to add a doxy file and have an iplock-doc package.
#override_dh_auto_configure:
#	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=../../../../../tmp/usr
#override_dh_install:
#	@echo "skip dh_install"
#	mkdir -p debian/iplock/etc/network
#	cp iplock.conf debian/iplock/etc/network/.
