Source: snapcommunicator
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    debhelper,
    dh-systemd,
    doxygen,
    graphviz,
    libadvgetopt-dev (>= 1.1.3.11~xenial),
    libcassvalue-dev,
    libcasswrapper-dev,
    libexcept-dev,
    liblog4cplus12-dev (>= 1.2.1.23~xenial),
    libqtserialization-dev (>= 0.1.17.23~xenial),
    libsnapmanager-dev (>= 1.1.14.4~xenial),
    libsnapwebsites-dev (>= 1.1.16.7~xenial),
    libtld-dev (>= 1.5.2.23~xenial),
    libxml2-utils,
    libzipios-dev (>= 2.1.3.23~xenial),
    qtbase5-dev,
    snapbase-dev (>= 1.0.6.12~xenial),
    snapcmakemodules (>= 1.0.27.11~xenial),
    zip
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/snapwebsites

Package: snapcommunicator
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, snapbase
Suggests: snapcommunicator-doc
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 Faciliates communication between modules.

Package: snapcommunicator-doc
Section: admin
Architecture: all
Depends: ${misc:Depends}
Description: Fast Websites: powerful CMS for Apache written in C++.
 Snap! C++ runs your CMS using binary code written in C and C++.
 The basic concept is taken from a large set of Drupal 6.x
 modules from Drupal Core and necessary 3rd party modules (we've been using
 over 220 modules on top of the Core modules.) The result is quite
 extensible as it offers a plug-in mechanism that everyone is welcome to use to
 create their own extensions.
 .
 Documentation package.

# vim: ts=4 sw=4 et
