Source: csspp
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: catch (>= 1.0),
    cmake,
    debhelper,
    doxygen,
    graphviz,
    libadvgetopt-dev (>= 1.1.10.139~xenial),
    snapcmakemodules (>= 1.0.34.89~xenial)
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.snapwebsites.org/
Vcs-Git: git://git.code.sf.net/p/snapcpp/code
Vcs-Browser: http://sourceforge.net/p/snapcpp/code/ci/master/tree/csspp

Package: libcsspp-dev
Section: libdevel
Architecture: any
Depends: libcsspp (= ${binary:Version}), ${misc:Depends}
Recommends: csspp-doc (= ${binary:Version})
Description: CSS Preprocessor library development files for C++.
 This package includes all the necessary files for you to develop code
 that link against the libcsspp library.
 .
 This is the development package complete with C++ headers.

Package: csspp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: libcsspp (= ${binary:Version})
Description: C++ library API documentation.
 The CSS Preprocessor comes with a library one can use in their own C++
 application. It reads and processes CSS files and strings and spits them
 back out based on an Agent string and other similar data entry.
 .
 This is the documenation package to use with the libcsspp-dev package.

Package: libcsspp
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CSS Preprocessor C++ library.
 The CSS Preprocessor library is used with the CSS Preprocessor tools and
 software that link against it.
 .
 This is the runtime package for the CSS Preprocessor C++ library.

Package: csspp
Section: web
Architecture: any
Depends: libcsspp (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: csspp-doc (>=1.0)
Description: Preprocess extended CSS to compressed CSS.
 This package includes the csspp tool one can use to transform an extended
 CSS file to a compressed CSS. The tool supports variables (i.e. $my_color),
 encapsulation (i.e. div { border: 1px; a { color: red } }), and many more
 extensions. The documentation includes all the detailed information about
 all the available extensions.
 .
 This package contains the CSS Proprocessor command line tool.

# vim: ts=4 sw=4 et
